In [1]:
import pandas as pd
import time
import numpy as np

In [2]:
Training = pd.read_csv('Data/training_input.csv', delimiter=',')
Output = pd.read_csv('Data/training_output.csv', delimiter=';')

In [3]:
print Training.shape
print Output.shape

(613220, 57)
(613220, 2)

In [4]:
Training.head()

,ID,date,product_id,09:30:00,09:35:00,09:40:00,09:45:00,09:50:00,09:55:00,10:00:00,...,13:10:00,13:15:00,13:20:00,13:25:00,13:30:00,13:35:00,13:40:00,13:45:00,13:50:00,13:55:00
0,1,1,236,24138818.08,2457975.00,741777.14,973487.28,764018.92,1074769.92,3056492.88,...,810609.36,818269.86,629216.64,1467907.56,984992.90,959853.30,892596.88,528573.62,973928.60,972596.43
1,2,1,238,8897508.62,104198.40,61840.92,78523.02,128729.16,60789.84,18072.62,...,19140.84,12707.50,25131.87,24124.80,46132.35,51850.26,46478.41,17199.00,34500.62,37690.24
2,3,1,242,6461968.95,109497.00,152577.00,164024.00,204372.00,321545.70,346236.00,...,96203.00,33978.00,239729.60,67860.00,68478.00,105222.24,101646.00,79128.00,101248.00,367120.00
3,4,1,243,6822223.20,220467.28,161594.35,264893.44,300326.20,707391.68,327428.00,...,437946.60,7096.00,514560.06,1395147.39,984468.82,565263.30,286416.00,71518.14,155752.10,123690.00
4,5,1,261,36632811.84,4470974.95,1448461.05,1500694.38,944346.50,958685.76,1685234.07,...,429049.72,289330.13,578565.65,358484.80,440292.16,795697.65,565374.30,832022.43,1425134.40,2310369.30

In [5]:
Training = pd.merge(Training, Output, on ='ID')

In [6]:
Training.shape

(613220, 58)

In [9]:
print "nombres de dates", Training['date'].value_counts().shape
print "nombres de produits", Training['product_id'].value_counts().shape

nombres de dates (1882,)
nombres de produits (352,)

In [10]:
pd.isnull(Training).any(1).nonzero()[0].shape

(99273,)

In [11]:
#print Correlations.dtypes
del Correlations['ID'], Correlations['date'], Correlations['product_id'], Correlations['09:30:00']

NameError: name 'Correlations' is not defined

In [39]:
np.corrcoef(np.array(Correlations))

array([[ 1.        , -0.04052538,  0.04454275, ...,         nan,
         0.29698578,  0.29093226],
       [-0.04052538,  1.        ,  0.08472152, ...,         nan,
         0.12803588,  0.33051518],
       [ 0.04454275,  0.08472152,  1.        , ...,         nan,
         0.11892571,  0.08996533],
       ...,
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan],
       [ 0.29698578,  0.12803588,  0.11892571, ...,         nan,
         1.        ,  0.0010871 ],
       [ 0.29093226,  0.33051518,  0.08996533, ...,         nan,
         0.0010871 ,  1.        ]])

In [24]:
Correlations[1:3]

,09:30:00,09:35:00,09:40:00,09:45:00,09:50:00,09:55:00,10:00:00,10:05:00,10:10:00,10:15:00,...,13:10:00,13:15:00,13:20:00,13:25:00,13:30:00,13:35:00,13:40:00,13:45:00,13:50:00,13:55:00
1,8897508.62,104198.4,61840.92,78523.02,128729.16,60789.84,18072.62,108036.1,105709.11,28800,...,19140.84,12707.5,25131.87,24124.8,46132.35,51850.26,46478.41,17199,34500.62,37690.24
2,6461968.95,109497.0,152577.00,164024.00,204372.00,321545.70,346236.00,244627.0,142075.00,232429,...,96203.00,33978.0,239729.60,67860.0,68478.00,105222.24,101646.00,79128,101248.00,367120.00

In [40]:
Output.head()

,ID,date,product_id,09:30:00,09:35:00,09:40:00,09:45:00,09:50:00,09:55:00,10:00:00,...,13:10:00,13:15:00,13:20:00,13:25:00,13:30:00,13:35:00,13:40:00,13:45:00,13:50:00,13:55:00
0,1,1,236,24138818.08,2457975.00,741777.14,973487.28,764018.92,1074769.92,3056492.88,...,810609.36,818269.86,629216.64,1467907.56,984992.90,959853.30,892596.88,528573.62,973928.60,972596.43
1,2,1,238,8897508.62,104198.40,61840.92,78523.02,128729.16,60789.84,18072.62,...,19140.84,12707.50,25131.87,24124.80,46132.35,51850.26,46478.41,17199.00,34500.62,37690.24
2,3,1,242,6461968.95,109497.00,152577.00,164024.00,204372.00,321545.70,346236.00,...,96203.00,33978.00,239729.60,67860.00,68478.00,105222.24,101646.00,79128.00,101248.00,367120.00
3,4,1,243,6822223.20,220467.28,161594.35,264893.44,300326.20,707391.68,327428.00,...,437946.60,7096.00,514560.06,1395147.39,984468.82,565263.30,286416.00,71518.14,155752.10,123690.00
4,5,1,261,36632811.84,4470974.95,1448461.05,1500694.38,944346.50,958685.76,1685234.07,...,429049.72,289330.13,578565.65,358484.80,440292.16,795697.65,565374.30,832022.43,1425134.40,2310369.30

In [42]:
Output.dtypes

ID              int64
date            int64
product_id      int64
09:30:00      float64
09:35:00      float64
09:40:00      float64
09:45:00      float64
09:50:00      float64
09:55:00      float64
10:00:00      float64
10:05:00      float64
10:10:00      float64
10:15:00      float64
10:20:00      float64
10:25:00      float64
10:30:00      float64
10:35:00      float64
10:40:00      float64
10:45:00      float64
10:50:00      float64
10:55:00      float64
11:00:00      float64
11:05:00      float64
11:10:00      float64
11:15:00      float64
11:20:00      float64
11:25:00      float64
11:30:00      float64
11:35:00      float64
11:40:00      float64
11:45:00      float64
11:50:00      float64
11:55:00      float64
12:00:00      float64
12:05:00      float64
12:10:00      float64
12:15:00      float64
12:20:00      float64
12:25:00      float64
12:30:00      float64
12:35:00      float64
12:40:00      float64
12:45:00      float64
12:50:00      float64
12:55:00      float64
13:00:00      float64
13:05:00      float64
13:10:00      float64
13:15:00      float64
13:20:00      float64
13:25:00      float64
13:30:00      float64
13:35:00      float64
13:40:00      float64
13:45:00      float64
13:50:00      float64
13:55:00      float64
dtype: object

In [64]:
testing = pd.read_csv('Data/testing_input.csv', delimiter=';')

In [65]:
pd.isnull(testing).any(1).nonzero()[0].shape

(0,)