In [42]:
import numpy as np
import pandas as pd
import pywt
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import cross_val_score
from sklearn.grid_search import GridSearchCV

### Wavelet Transform Class.
DictT.dot is a method corresponding to the DWT operator.

In [43]:
class DictT(object):

    def __init__(self, name, level):
            self.name = name
            self.level = level
            self.sizes = []

    def dot(self, mat):

        m = []

        if mat.shape[0] != mat.size:
            for i in xrange(mat.shape[1]):
                c = pywt.wavedec(mat[:, i], self.name, level=self.level)
                self.sizes.append(map(len, c))
                c = np.concatenate(c)
                m.append(c)
            return np.asarray(m).T
        else:
            c = pywt.wavedec(mat, self.name, level=self.level)
            self.sizes.append(map(len, c))
            return np.concatenate(c)

### Import data.

In [44]:
train = pd.read_csv('Data/training_input.csv', delimiter=',')
output = pd.read_csv('Data/training_output.csv', delimiter=';')
test = pd.read_csv('Data/testing_input.csv', delimiter=',')

Select rows with no or several missing entries.

In [45]:
train = pd.merge(train, output, on='ID', how='inner')

In [46]:
train_filled = train.drop(pd.isnull(train).any(1).nonzero()[0]).reset_index(drop=True)
train_missing = train[~train["ID"].isin(train_filled["ID"].tolist())]

In [16]:
train_missing.head()

,ID,date,product_id,09:30:00,09:35:00,09:40:00,09:45:00,09:50:00,09:55:00,10:00:00,...,13:15:00,13:20:00,13:25:00,13:30:00,13:35:00,13:40:00,13:45:00,13:50:00,13:55:00,TARGET
5,6,1,267,8091607.23,200855.00,254585.18,182094.78,239248.65,295739.52,224983.14,...,134951.50,172651.50,231768.23,NaN,10164.00,161273.64,245219.00,118459.64,70953.90,7669334.76
22,23,1,409,3967038.72,49270.40,72597.00,49056.54,105244.80,109664.24,72702.00,...,94930.00,109808.12,53813.32,32897.56,142312.95,20532.20,20807.80,38365.11,NaN,3591258.75
28,29,1,447,NaN,4902746.25,123692.64,126432.00,90729.22,225985.34,127063.09,...,45155.70,116440.34,106385.16,89622.00,124051.29,68860.00,79177.41,299000.72,185450.66,9088162.46
29,30,1,449,5642713.00,168978.59,252366.66,212968.04,92013.80,102185.00,186739.00,...,70216.02,215304.70,57243.78,67538.61,301868.55,45289.71,200126.97,99121.12,79086.00,10197193.80
59,60,1,839,NaN,7261088.04,118917.12,178083.00,99840.15,66552.40,115056.54,...,37900.00,79485.00,135654.40,56820.66,53071.20,75540.00,31273.56,50951.73,68079.56,6303831.45

In [ ]:
row = missing_training.iloc[30,]

def fill_missing_l2(row):
    
    temp_filled = train_filled[train_filled['product_id'] == row['product_id']]
    dist = []

    for i, r_filled in temp_filled.iterrows():

        dist.append(np.linalg.norm([r_filled[row.notnull()], row[row.notnull()]]))

    arg = np.array(dist).argmin()

    temp_remplace = temp_filled.iloc[arg]
    row[!row.notnull()] = temp_remplace[!row.notnull()]
    
    return row

print fill_missing_l2(row)

In [49]:
test_filled = test.drop(pd.isnull(test).any(1).nonzero()[0]).reset_index(drop=True)
test_missing = test[~test["ID"].isin(test_filled["ID"].tolist())]

Some rows only contain missing values...

In [56]:
numeric_cols = test_filled.columns.drop(["ID", "date", "product_id"])
test_count = pd.DataFrame(test_missing[numeric_cols].applymap(np.isnan).sum(axis=1))
test_count.columns = ["COUNT"]
test_count["ID"] = test_missing.ix[test_count.index]["ID"]
test_count.sort_values(by="COUNT").head()

        COUNT      ID
8           1  618565
346856      1  967950
346872      1  967966
346876      1  967970
346880      1  967974

### Imputer
Create one imputer per product.

In [ ]:
from sklearn.preprocessing import Imputer
imp = {}

numeric_cols = train.columns.drop(["ID", "date", "product_id", "TARGET"])
for idx, product in enumerate(train["product_id"].unique()):
    print "Product ID :", product
    print "Progression :", float(idx)/len(train["product_id"].unique()) * 100, "%"
    
    # Fit an imputer for the selected 'product_id' on filled training data.
    # Transform the associated data with missing values.
    
    train_filled_p = train_filled[train_filled["product_id"] == product]
    train_missing_p = train_missing[train_missing["product_id"] == product]
    
    imp[product] = Imputer(strategy="median", axis=0).fit(train_filled_p[numeric_cols])
    train_missing[train_missing["product_id"] == product][numeric_cols] = imp[product].\
        transform(train_missing_p[numeric_cols].values)

Training dataset for our supervised learning method.

In [8]:
x = train_filled.drop(["ID", "date", "product_id", "TARGET"], axis=1).values
y = train_filled["TARGET"].values

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [21]:
print "Full labelled set :\n", x.shape, "\n", y.shape

Full labelled set :
(513947, 54)
(513947,)

Average target per product â€” this will be used when controlling the error of predictions for missing data.

In [22]:
average_target_per_product = train.groupby("product_id").mean()["TARGET"].reset_index()
average_target_per_product.head()

   product_id           TARGET
0         236  24157732.043920
1         238   5825229.925770
2         242  19649724.759512
3         243   8249545.655585
4         261  30402004.119214

### Create wavelet dictionary.
NB: 'db1' is the classical DFT operator.

In [23]:
wave_name = 'db20'
wave_level = None
wavelet_operator_t = DictT(level=wave_level, name=wave_name)

basis_t = wavelet_operator_t.dot(np.identity(x.shape[1]))
basis_t /= np.sqrt(np.sum(basis_t ** 2, axis=0))
basis = basis_t.T

### Selecting the best model.
Training, validation split the transformed data, using Fourier/Wavelet.

In [129]:
x_train, x_val, y_train, y_val = train_test_split(
    x.dot(basis), y, test_size=0.3)

In [130]:
print "Training set :\n", x_train.shape, "\n", y_train.shape
print "Validation set :\n", x_val.shape, "\n", y_val.shape

Training set :
(359762, 54)
(359762,)
Validation set :
(154185, 54)
(154185,)

Supervised learning method.    
_TODO:_ Use GridSearchCV for the best parameters.

In [16]:
%%time

"""
reg_grid = {
    "max_depth": [10, 20, 40, None],
    "max_features": [20, 30, 40, 'auto'],
    "min_samples_split": [1, 5, 10],
    "min_samples_leaf": [1, 5, 10],
    "bootstrap": [True, False]}

reg = GridSearchCV(RandomForestRegressor(n_estimators=50, n_jobs=-1),
                   param_grid=reg_grid, n_jobs=-1, verbose=5)
"""

reg = RandomForestRegressor(n_estimators=15, 
                            max_features=20, 
                            min_samples_split=1, 
                            bootstrap=True, 
                            max_depth=20, 
                            min_samples_leaf=1,
                            n_jobs=-1,
                            verbose=5)
reg.fit(x_train, y_train)
y_val_pred = reg.predict(x_val)

# params = reg.best_params_
# print params

CPU times: user 43 Âµs, sys: 3 Âµs, total: 46 Âµs
Wall time: 47 Âµs

### Mean Absolute Percentage Error.

In [71]:
def mean_absolute_percentage_error(y_true, y_pred): 

    """
    Note: does not handle mix 1d representation
    if _is_1d(y_true): 
        y_true, y_pred = _check_1d_array(y_true, y_pred)
    """

    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

print "MAPE :", mean_absolute_percentage_error(y_val, y_val_pred)

### Score the test dataset.

If training rows contain no missing entry, use the supervised learning method reg.    
Otherwise, simply output the average target per product.

In [44]:
test_filled = test.drop(pd.isnull(test).any(1).nonzero()[0]).reset_index(drop=True)
test_missing = test[~test["ID"].isin(test_filled["ID"].tolist())]

In [104]:
reg.fit(x.dot(basis), y)

For all test rows without any missing values, predict the actual data.

In [123]:
def predict_filled_values(filled_dataframe, reg):
    
    y = reg.predict(filled_dataframe.drop(["ID", "date", "product_id"], axis=1).values.dot(basis))
    df_y = pd.DataFrame(y)
    df_y.columns = ["TARGET"]
    df_y["ID"] = filled_dataframe["ID"]
    
    return df_y[["ID", "TARGET"]]

For test rows with missing values, just set the output to the average target per product.

In [112]:
def predict_missing_values(missing_dataframe):
    
    df = pd.merge(missing_dataframe.reset_index(), average_target_per_product, on="product_id")
    df = df.sort_values(by="index").reset_index()
    return df[["ID", "TARGET"]]

Concatenate predictions to obtain the final result.

In [113]:
def predict_all_values(filled, missing, reg):
    
    return pd.concat([predict_filled_values(filled, reg), 
                      predict_missing_values(missing)], axis=0).sort_values(by="ID")

In [114]:
y_test = predict_all_values(test_filled, test_missing, reg)
y_test.head()

[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed:    1.5s finished

       ID           TARGET
0  618557  20148047.066664
1  618558   4388666.535405
2  618559   7456074.494341
3  618560   5233019.985268
4  618561  15595865.176292

In [ ]:
# df_test.to_csv("Submission.csv", sep=";", index=False)